﻿@{
    Layout = null;
}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>@ViewBag.vDesc01 | @ViewBag.vEntidad </title>

    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/bootstrap/css/bootstrap.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/plugins.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/responsive.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/fontawesome/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/login.css")">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <script src="@Url.Content("~/Plantilla01/assets/js/libs/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Plantilla01/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Plantilla01/assets/js/libs/lodash.compat.min.js")"></script>

    <script src="@Url.Content("~/Plantilla01/plugins/uniform/jquery.uniform.min.js")"></script>
    <script src="@Url.Content("~/Plantilla01/plugins/validation/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Plantilla01/plugins/nprogress/nprogress.js")"></script>
    <script src="@Url.Content("~/Plantilla01/assets/js/login.js")"></script>

    <script>$(document).ready(function(){Login.init()});</script>

    <style>
        .important-message {
            font-weight: bold;
        }
    </style>

    <script>

        var showLoader = function (text) {
            $('#resultLoading').show();
            $('#resultLoading').find('.loader-text').html(text);
        };

        jQuery(document).ready(function () {
            jQuery(window).on("beforeunload ", function () {
                showLoader('Cargando, espere un momento...');
            });
        });

    </script>


</head>

<body class="login">



    <div class="logo">
        <img src="~/Imagenes/logovp.png" width="693" height="50"/>
    </div>

    <div class="box">
        <div class="content">
            <div class="logo">
                <img src="~/Imagenes/LoginMJM.png" />
            </div>
            @using (Html.BeginForm("ValidaLogin", "Login", FormMethod.Post, new { id = "frmLogin", name = "frmLogin", @class = "form-vertical login-form" }))
         
            {

                <div class="form-group">
                    <div class="input-icon">
                        <i class="icon-user"></i>
                        <input type="text" name="Txtuser" class="form-control" placeholder="Usuario" autofocus="autofocus" data-rule-required="true" data-msg-required="Por favor ingresar el usuario." maxlength="20" value="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="icon-lock"></i>
                        <input type="password" name="Txtpass" class="form-control" placeholder="Password" data-rule-required="true" data-msg-required="Por favor ingresar la clave." maxlength="18" value="">
                    </div>
                </div>
                <div class="form-actions">
                    <label class="checkbox pull-left">
                        <input type="checkbox" class="uniform" name="remember"> Recordar
                    </label>
                    <button type="submit" class="submit btn btn-success pull-right">
                        Ingresar
                        <i class="icon-angle-right"></i>
                    </button>
                </div>

                <br />

            }

        </div>

        <div class="inner-box align-left">
            <div class="content align-left">
                <p> ¿Todavía no tienes una cuenta? <a href="~/Login/Registrar">Regístrate aquí</a></p>

            </div>
        </div>


        <div class="inner-box">
            <div class="content">
                <i class="icon-remove close hide-default"></i>
                MJM ©2020. Todos los Derechos Reservados.
            </div>
        </div>
    </div>

    <div class="footer">
        @*Desea realizar Consultas y Reclamos? <strong>Ingresar</strong>*@
        <br />
        @ViewBag.vDesc02
        <br />
        @ViewBag.vDesc03
    </div>


    <div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
        <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
            <div class="uil-default-css">

                <img src="~/Imagenes/loading.gif" style="max-width: 50px; max-height: 50px; display: block; margin-left: auto; margin-right: auto;" />


            </div>
            <div class="loader-text" style="display: block; font-size: 15px; font-weight: 300;">&nbsp;</div>
        </div>
        <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
    </div>



</body>
</html>
