﻿@{
    Layout = null;
}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>@ViewBag.vDesc01 | @ViewBag.vEntidad </title>

    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/bootstrap/css/bootstrap.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/plugins.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/responsive.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/fontawesome/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/login.css")">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <script src="@Url.Content("~/Plantilla01/assets/js/libs/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Plantilla01/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Plantilla01/assets/js/libs/lodash.compat.min.js")"></script>

    <script src="@Url.Content("~/Plantilla01/plugins/uniform/jquery.uniform.min.js")"></script>
    <script src="@Url.Content("~/Plantilla01/plugins/validation/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Plantilla01/plugins/nprogress/nprogress.js")"></script>
    <script src="@Url.Content("~/Scripts/loadingoverlay.js")"></script>



    @*<script src="@Url.Content("~/Plantilla01/assets/js/bootstrap-datepicker.min.js")"></script>*@


    <!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/datepicker/bootstrap-iso.css")">


    <!--Font Awesome (added because you use icons in your prepend/append)-->

    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/datepicker/font-awesome.min.css")">
    <!-- Include Date Range Picker -->
    <script src="@Url.Content("~/Plantilla01/datepicker/bootstrap-datepicker.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/datepicker/bootstrap-datepicker3.css")">





    <style>
        .important-message {
            font-weight: bold;
        }
    </style>

    <script>

        var showLoader = function (text) {
            $('#resultLoading').show();
            $('#resultLoading').find('.loader-text').html(text);
        };

        jQuery(document).ready(function () {
            jQuery(window).on("beforeunload ", function () {
                showLoader('Cargando, espere un momento...');
            });
        });

    </script>

    <script type="text/javascript" language="javascript">

        $(document).ready(function ()
        {

            var OjbDep = "#ddlDep";
            var OjbProv = "#ddlProv";
            var OjbDist = "#ddlDist";

            FnLista_Departamento(OjbDep);

            $("#ddlDep").change(function () {
            var strDepa = $("#ddlDep").val();
            FnLista_Provincia(strDepa, OjbProv, OjbDist);
        });

        $("#ddlProv").change(function () {
            var strDepa = $("#ddlDep").val();
            var strProv = $("#ddlProv").val();
            FnLista_Distrito(strDepa, strProv, OjbDist);
        });

    }
    );

    function FnLista_Departamento(OjbDepartamento) {


        $.ajax({
            type: "Get",
            contentType: "application/json; charset=utf-8",
            url: "../Login/ListaDepartamento",
            dataType: "json",
            beforeSend: function () { $.LoadingOverlay("show"); },
            complete: function () { $.LoadingOverlay("hide"); },
            success: function (data) {
                $(OjbDepartamento).empty();
                $(OjbDepartamento).append($("<option></option>").val("000000").html("Seleccione Item"));
                $.each(data, function () {

                   
                            $(OjbDepartamento).append($("<option></option>").val(this['proCODUBIGEO']).html(this['proTXTDEPARTAMENTO']));
                     


                });
            },

            error: function ajaxError(result) {
                alert(result.status + ' : ' + result.statusText);
            }
        });

    }

    function FnLista_Provincia(strDepa, OjbProvincia, OjbDistrito)
    {

        var stProvincia = $(OjbProvincia).val();

        $.ajax({
            type: "Get",
            contentType: "application/json; charset=utf-8",
            url: "../Login/ListaProvincia",
            data: "stDepartamento=" + strDepa,
            dataType: "json",
            beforeSend: function () { $.LoadingOverlay("show"); },
            complete: function () { $.LoadingOverlay("hide"); },
            success: function (data) {
                $(OjbProvincia).empty();
                $(OjbDistrito).empty();
                $(OjbProvincia).append($("<option></option>").val("000000").html("Seleccione Item"));
                $(OjbDistrito).append($("<option></option>").val("000000").html("Seleccione Item"));
                $.each(data, function ()
                {
                    $(OjbProvincia).append($("<option></option>").val(this['proCODUBIGEO']).html(this['proTXTPROVINCIA']));

                });
            },

            error: function ajaxError(result) {
                alert(result.status + ' : ' + result.statusText);
            }
        });
    }

    function FnLista_Distrito(strDepa, strProv, OjbDistrito)
    {

        var stDistrito = $(OjbDistrito).val();

        $.ajax({
            type: "Get",
            contentType: "application/json; charset=utf-8",
            url: "../Login/ListaDistrito",
            data: { stDepartamento: strDepa, stProvincia: strProv },
            dataType: "json",
            beforeSend: function () { $.LoadingOverlay("show"); },
            complete: function () { $.LoadingOverlay("hide"); },
            success: function (data) {
                $(OjbDistrito).empty();
                $.each(data, function ()
                {
                    $(OjbDistrito).append($("<option></option>").val(this['proCODUBIGEO']).html(this['proTXTDISTRITO']));
 
                });
            },

            error: function ajaxError(result) {
                alert(result.status + ' : ' + result.statusText);
            }
        });
    }

    </script>

</head>


<body >

    <div class="crumbs">
        <ul id="breadcrumbs" class="breadcrumb">
            <li> <i class="icon-home"></i> Solicitud</li>
            <li class="current"> Registrarse Para Ingresar a la Ventanilla Virtual - MJM</li>
        </ul>
       
    </div>


    <div class="page-header">
        <div class="page-title">
            <h3></h3> <span></span>
        </div>
       
    </div>



@using (Html.BeginForm("EnviarDatos", "Login", FormMethod.Post, new { id = "FrmDatos" }))
{

    <div class="row">
        <div class="col-md-2">
        </div>
            <div class="col-md-8">
                <div class="widget box">
                    <div class="widget" >
                        <h4>
                            <img src="~/Imagenes/LoginMJM.png" />
                        </h4>
                    </div>
                    <div class="widget-content">

                        <div class="panel panel-default">
                            <div class="panel-heading title">
                                <span class="glyphicon glyphicon-user styleicon"></span>
                                <j2>Ingrese los Datos del Ciudadano</j2>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="upDocumento">

                                            <div class="row">
                                                <div class="form-group col-sm-4">

                                                    <select name="ddlTipoDoc" id="ddlTipoDoc" class="form-control selectpicker input-sm" onchange="ValidarTipoDoc()" data-width="100%" title="Tipo de Documento Identidad">
                                                        <option selected="selected" value="-1">Seleccione Tipo Documento</option>
                                                        <option value="01">DNI</option>
                                                        <option value="02">RUC</option>
                                                        <option value="08">CE</option>
                                                        <option value="09">PASAPORTE</option>
                                                    </select>

                                                </div>
                                                <div class="form-group col-sm-8 form-inline">
                                                    <div class="form-group">
                                                        <input name="TxtNroDoc" type="text" id="TxtNroDoc" class="form-control TxtNroDoc input-sm" placeholder="N° de Documento" title="Nro de Documento Identidad" />
                                                        <button type="button" class="btn btn-info" id="btnBusquedad" name="btnBusquedad" onclick="FnBusquedad()"><i class="icon-search"></i> Buscar</button>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div id="DDni" style="display:none;">
                                    <div class="row">

                                        <div class="form-group col-sm-6">
                                            <input name="TxtApePatP" type="text" id="TxtApePatP" class="form-control input-sm" placeholder="Ap.Paterno" title="Apellido Paterno">
                                        </div>
                                        <div class="col-sm-6">
                                            <input name="TxtApeMatP" type="text" id="TxtApeMatP" class="form-control input-sm" placeholder="Ap.Materno" title="Apellido Materno">
                                        </div>

                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group col-sm-12">
                                        <input name="TxtNombreP" type="text" id="TxtNombreP" class="form-control input-sm" placeholder="Nombre Completo ó Razón Social" title="Nombre Completo ó Razón Social">
                                    </div>

                                </div>




                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <input name="txtCasa" type="text" id="txtCasa" class="form-control txtCasa  input-sm" onblur="Telefono();" placeholder="Teléfono (casa/oficina)" title="Teléfono (casa/oficina)">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <input name="txtCelular" type="text" id="txtCelular" class="form-control txtCelular  input-sm" onblur="Telefono();" placeholder="Telf.Celular" autocomplete="off" title="Telf.Celular">
                                    </div>
                                    <div class="col-sm-4">
                                        @*<input name="txtFnac" type="date"  id="txtFnac" class="form-control txtFnac  input-sm" onblur="Telefono();" placeholder="Fecha Nacimiento" title="Fecha Nacimiento">*@
            
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </div>
                                            <input type="text" class="form-control" id="txtFnac" name="txtFnac" data-toggle="datepicker" data-date-format="dd/mm/yyyy" autocomplete="off" required placeholder="DD/MM/YYYY">
   
                                        </div>


                                        
                                    </div>
                                </div>


                        

                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <input name="txtEmailA" type="text" maxlength="50" id="txtEmailA" class="form-control txtEmail input-sm" onblur="Email();" placeholder="E-mail@dominio.com" autocomplete="off"  title="E-mail@dominio.com">

                                        </div>
                                        <div class="form-group col-sm-4">
                                            <input name="txtEmailB" type="text" maxlength="50" id="txtEmailB" class="form-control txtEmail input-sm" onblur="Email();" placeholder="Repetir E-mail@dominio.com" autocomplete="off" title="Repetir E-mail@dominio.com">

                                        </div>
                                    </div>


                                </div>
                        </div>

                        <!--Datos del Domicilio Fiscal-->
                        <div class="panel panel-default">
                            <div class="panel-heading title">
                                <span class="glyphicon glyphicon-home styleicon"></span>
                                <j2>Ingrese el Domicilio del Ciudadano</j2>
                            </div>
                            <div id="upDomicilio">

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="form-group col-sm-4">

                                            @Html.DropDownList("ddlDep", Enumerable.Empty<SelectListItem>(), new { @class = "form-control", required = "required", title = "Departamento - Dirección" })

                                        </div>

                                        <div class="form-group col-sm-4">

                                            @Html.DropDownList("ddlProv", Enumerable.Empty<SelectListItem>(), new { @class = "form-control", required = "required", title = "Provincia - Dirección" })

                                        </div>

                                        <div class="form-group col-sm-4">
                                            @Html.DropDownList("ddlDist", Enumerable.Empty<SelectListItem>(), new { @class = "form-control", required = "required", title = "Distrito - Dirección" })

                                        </div>

                                    </div>



                                    <div class="row">
                                        <div class="form-group col-sm-3">

                                            <select name="ddlVia" id="ddlVia" class="form-control selectpicker input-sm"  data-width="100%" , title = "Tipo Via - Dirección" >
                                                <option selected="selected" value="-1">Seleccione Tipo Via</option>
                                                <option  value="3">CONJUNTO</option>
                                                <option value="11">BLOCK</option>
                                                <option value="2">CALLE</option>
                                                <option value="1">AVENIDA</option>
                                                <option value="8">PASAJE</option>
                                                <option value="5">EDIFICIO</option>
                                                <option value="7">JIRON</option>
                                                <option value="10">PARQUE</option>
                                                <option value="9">PLAZA</option>

                                            </select>
                                        </div>

                                        <div class="form-group col-sm-6">

                                            <input name="txtVia" type="text" maxlength="50" id="txtVia" class="form-control input-sm" onblur="Email();" placeholder="Ingrese Información" autocomplete="off" title = "Nombre Via - Dirección">


                                        </div>



                                    </div>

                                  
                                    <div class="row">
                                        <div class="form-group col-sm-3">

                                            <select name="ddlOp1" id="ddlOp1" class="form-control selectpicker input-sm"  data-width="100%" title = "Tipo Nro/Km/Mz - Dirección">
                                                <option selected="selected" value="-1">Seleccione Nro/Km/Mz</option>
                                                <option value="12">CUADRA</option>
                                                <option value="20">NUMERO</option>
                                                <option value="21">KILOMETRO</option>
                                                <option value="22">MANZANA</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <input type="text" maxlength="50" id="txtOp1" name="txtOp1"  class="form-control input-sm"  placeholder="Ingrese Información" autocomplete="off"  title = "Nro/Km/Mz - Dirección">
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="form-group col-sm-3">

                                            <select name="ddlOp2" id="ddlOp2" class="form-control selectpicker input-sm"  data-width="100%" title = "Tipo Int/Dpto/Lote - Dirección">
                                                <option selected="selected" value="-1">Seleccione Int/Dpto/Lote</option>
                                                <option value="23">INTERIOR</option>
                                                <option value="24">DEPARTAMENTO</option>
                                                <option value="25">LOTE</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <input  type="text" maxlength="50" id="txtOp2" name="txtOp2" class="form-control input-sm" placeholder="Ingrese Información" autocomplete="off" title = "Tipo Int/Dpto/Lote - Dirección">
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-3">

                                            <select name="ddlOp3" id="ddlOp3" class="form-control selectpicker input-sm" data-width="100%" title = "Tipo Zona - Dirección">
                                                <option selected="selected" value="-1">Seleccione Tipo Zona</option>
                                                <option value="26">URBANIZACION</option>
                                                <option value="27">PUEBLO JOVEN</option>
                                                <option value="28">UNIDAD VECINAL</option>
                                                <option value="29">CONSEJO HABITACIONAL</option>
                                                <option value="30">ASENTAMIENTO HUMANO</option>
                                                <option value="31">COOPERATIVA</option>
                                                <option value="32">RESIDENCIAL</option>
                                                <option value="33">ZONA INDUSTRIAL</option>
                                                <option value="34">GRUPO</option>
                                                <option value="35">CASERIO</option>
                                                <option value="36">FUNDO</option>
                                                <option value="38">CARRETERA</option>
                                                <option value="40">ASOCIACION</option>
                                                <option value="41">ZONA</option>
                                                <option value="45">CAMINO</option>
                                                <option value="46">CERRO</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <input type="text" maxlength="50" id="txtOp3" name="txtOp3" class="form-control input-sm" placeholder="Ingrese Información" autocomplete="off" title = "Nombre Zona - Dirección">

                                        </div>



                                    </div>





                                </div>
                            </div>


                        </div>



                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="BtnGuardar" name="BtnGuardar" onclick="FnEnviarDatos()">Enviar Datos</button>
                        <button type="button" class="btn btn-default" id="BtnRegresar" name="BtnRegresar" onclick="location.href='@Url.Action("Index", "Login")'" >Regresar</button>
                        
                    </div>


                </div>
            </div>
       
        <div class="col-md-2">
        </div>
     </div>

}





    <div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
        <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
            <div class="uil-default-css">
                <img src="~/Imagenes/loading.gif" style="max-width: 50px; max-height: 50px; display: block; margin-left: auto; margin-right: auto;" />
            </div>
            <div class="loader-text" style="display: block; font-size: 15px; font-weight: 300;">&nbsp;</div>
        </div>
        <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
    </div>

    
  <script src="~/Scripts/ScRegistrar.js"></script>


</body>
</html>
<script>
    $(function() {
      $('[data-toggle="datepicker"]').datepicker({
        autoHide: true,
        zIndex: 2048,
      });
    });
</script>
