﻿<div class="modal fade" id="ModPago" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title">Generar Pago</h4>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">

                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">

                                <input type="hidden" id="HIdSolicitud1" name="HIdSolicitud1" class="form-control" autocomplete="off">
                                <input type="hidden" id="HId1" name="HId1" class="form-control" autocomplete="off">


                                <div class="form-group">
                                    <label class="col-md-2 control-label">Nro Solicitud:</label>
                                    <div class="col-md-10">
                                        <input name="TxtCorrela1" id="TxtCorrela1" class="form-control input-width-medium" type="text" readonly>
                                    </div>
                                    <label class="col-md-2 control-label">Procedimiento:</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control rounded-0" id="TxtProcedimiento1" name="TxtProcedimiento1" style="display: block; margin-top: 5px;" readonly></textarea>
                                    </div>
                                    <label class="col-md-2 control-label">Asunto:</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control rounded-0" id="TxtAsunto1" name="TxtAsunto1" style="display: block; margin-top: 5px;" readonly></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">


                                <form id="FrmGenerarPago" name="FrmGenerarPago" class="form-horizontal row-border" action="#">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Fecha Emision:</label>
                                        <div class="col-md-10">
                                            <input name="TxtFechaEmi" id="TxtFechaEmi" class="form-control input-width-medium" type="text" readonly  >
                                            
                                        </div>

                                        <label class="col-md-2 control-label">Monto:</label>
                                        <div class="col-md-10">
                                            <input name="TxtMonto" id="TxtMonto" class="form-control input-width-medium" type="text">
                                        </div>

                                        @*<label class="col-md-2 control-label">Observación:</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control rounded-0" id="TxtObservacion" name="TxtObservacion" style="display: block; margin-top: 5px;"></textarea>
                                            </div>*@

                                        <label class="col-md-2 control-label">Cuenta:</label>
                                        <div class="col-md-8">
                                            <select name="ddlCuenta" id="ddlCuenta" class="form-control selectpicker input-sm" data-width="100%" title="Tipo de Documento Identidad">
                                                @*<option value="-1">Seleccione Cuenta</option>
                                                    <option value="01" selected="selected">CONFORME</option>
                                                    <option value="02">OBSERVADO</option>*@
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="button" value="Generar" id="BtnGenerarPago" class="btn btn-primary pull-right" style="display: block; margin-top: 7px;" data-dismiss="modal">
                                        </div>
                                    </div>



                                </form>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget box">
                                    <div class="widget-header">
                                        <h4><i class="icon-reorder"></i> Listado de Pagos</h4>

                                    </div>
                                    <div class="widget-content no-padding">

                                        <table class="table table-striped table-bordered table-hover table-responsive datatable" id="DtPagos">

                                            <thead>
                                                <tr>
                                                    <th data-class="expand">CODIGO</th>
                                                    @*<th data-class="expand">TIPO</th>*@
                                                    @*<th data-class="expand">F.EMISION</th>*@
                                                    <th data-class="expand">F.DEPOSITO</th>
                                                    <th data-class="expand">ARCHIVO</th>
                                                    <th data-class="expand">OPCIONES</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <input type="button" value="Confirmar Pago" id="BtnConfirmarPago" class="btn btn-primary pull-right" style="display: block; margin-top: 7px;" data-dismiss="modal">
                            </div>
                        </div>




                    </div>

                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-inverse" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

