﻿<div class="modal fade" id="ModDatosPersona" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title">Generar datos del Administrado</h4>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">

                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">

                                <input type="hidden" id="HIdSolicitudP" name="HIdSolicitud1" class="form-control" autocomplete="off">
                                <input type="hidden" id="HIdNRODOCP" name="HIdSolicitud1" class="form-control" autocomplete="off">
                                <input type="hidden" id="HCODPER" name="HCODPER" class="form-control" autocomplete="off">
                                <input type="hidden" id="HCODDIR" name="HCODDIR" class="form-control" autocomplete="off" />
                                <input type="hidden" id="HIDREGISTROP" name="HIDREGISTROP" class="form-control" autocomplete="off">
                                                  
                                <input type="hidden" id="HIdP" name="HIdP" class="form-control" autocomplete="off">



                                <div class="form-group">
                                    <label class="col-md-2 control-label">Administrado:</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control rounded-0" id="TxtAdministradoP" name="TxtAdministradoP" style="display: block; margin-top: 5px;" readonly></textarea>
                                    </div>
                                    <label class="col-md-2 control-label">Dirección:</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control rounded-0" id="TxtDireccionP" name="TxtDireccionP" style="display: block; margin-top: 5px;" readonly></textarea>
                                    </div>

                                </div>

                            </div>
                        </div>





                        <div class="form-group">
                            <div class="col-md-2">
                                <input type="button" value="Registrar Datos" id="BtnProcesarDatos" class="btn btn-primary pull-right" style="display: block; margin-top: 7px;" data-dismiss="modal">
                            </div>
                        </div>




                    </div>

                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-inverse" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>