﻿
<div class="modal fade" id="ModAdjuntarSid" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title">Transferir al Sistema de Tramite Documentario</h4>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">

                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">

                                <input type="hidden" id="HIdSolicitudT" name="HIdSolicitudT" class="form-control" autocomplete="off">
                                <input type="hidden" id="HIdPersonaT" name="HIdPersonaT" class="form-control" autocomplete="off">
                                <input type="hidden" id="HIdDireccionT" name="HIdDireccionT" class="form-control" autocomplete="off">
                                <input type="hidden" id="HIdTipdocT" name="HIdTipdocT" class="form-control" autocomplete="off">
                                <input type="hidden" id="HFolioT" name="HFolioT" class="form-control" autocomplete="off">
                                <input type="hidden" id="HIdTupaT" name="HIdTupaT" class="form-control" autocomplete="off">
                                <input type="hidden" id="HIdOficinaT" name="HIdOficinaT" class="form-control" autocomplete="off">
                                <input type="hidden" id="HAdministradoT" name="HAdministradoT" class="form-control" autocomplete="off">
                                <input type="hidden" id="HIdT" name="HIdT" class="form-control" autocomplete="off">
                                <input type="hidden" id="HFIJOT" name="HFIJOT" class="form-control" autocomplete="off">
                                <input type="hidden" id="HCORREOT" name="HCORREOT" class="form-control" autocomplete="off">
                                <input type="hidden" id="HCELULART" name="HCELULART" class="form-control" autocomplete="off">
                                <input type="hidden" id="HNRODOCIDET" name="HNRODOCIDET" class="form-control" autocomplete="off">
                                <input type="hidden" id="HOBSSOLIT" name="HOBSSOLIT" class="form-control" autocomplete="off">

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Nro Solicitud:</label>
                                    <div class="col-md-10">
                                        <input name="TxtCorrelaT" id="TxtCorrelaT" class="form-control input-width-medium" type="text" readonly>
                                    </div>
                                    <label class="col-md-2 control-label">Procedimiento:</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control rounded-0" id="TxtProcedimientoT" name="TxtProcedimientoT" style="display: block; margin-top: 5px;" readonly></textarea>
                                    </div>
                                    <label class="col-md-2 control-label">Asunto:</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control rounded-0" id="TxtAsuntoT" name="TxtAsuntoT" style="display: block; margin-top: 5px;" readonly></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">


                                <form id="FrmGenerarSid" name="FrmGenerarSid" class="form-horizontal row-border" action="#">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Fecha:</label>
                                        <div class="col-md-10">
                                            <input name="TxtFechaT" id="TxtFechaT" class="form-control input-width-medium" type="text" readonly value="@System.DateTime.Today.ToShortDateString()">
                                        </div>

                                        <label class="col-md-2 control-label">Observación:</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control rounded-0" id="TxtObservacionT" name="TxtObservacionT" style="display: block; margin-top: 5px;"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="button" value="Generar" id="BtnGenerarTrans" class="btn btn-primary pull-right" style="display: block; margin-top: 7px;" data-dismiss="modal">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*<label class="col-md-2 control-label">Estado:</label>
                                            <div class="col-md-8">
                                                <select name="ddlTipoDoc" id="ddlTipoDoc" class="form-control selectpicker input-sm" data-width="100%" title="Tipo de Documento Identidad">
                                                    <option value="-1">Seleccione Estado</option>
                                                    <option value="01" selected="selected">CONFORME</option>
                                                    <option value="02">OBSERVADO</option>
                                                </select>
                                            </div>*@


                                    </div>
                                </form>

                            </div>
                        </div>






                    </div>

                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-inverse" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>


