﻿<br />
<br />
<div class="crumbs">
    <ul id="breadcrumbs" class="breadcrumb">
        <li> <i class="icon-home"></i> @ViewBag.OpPadre</li>
        <li class="current"> @ViewBag.OpHijo01 </li>
        <li class="current"> <a href="#" title="">@ViewBag.OpHijo02</a> </li>
    </ul>

    <ul class="crumb-buttons">
        @*<li><a href="#" onclick="FnAbrirManual();"><img src="~/Imagenes/IconoVideo.gif" width="40" height="40" /><span>Video Tutoría</span></a></li>*@
        <li><a href="#" title=""><i class="icon-tasks"></i><span><strong>Conectado</strong></span></a></li>
        <li><a href="#" title=""><i class="icon-calendar"></i><span>@ViewBag.vbFECHA</span> </a></li>

    </ul>

</div>

<br />