﻿<div id="sidebar" class="sidebar-fixed">
    <div id="sidebar-content">
        <br />
        <ul id="nav">
            <li  class="@ViewBag.vbSELECT1"> <a href="@Url.Content("~/Panel")">:: Panel General</a>
            </li>
        @if (Session["STipoAcceso"].ToString()=="01")
        {

            <li class="current open">

                <a href="javascript:void(0);"><i class="icon-desktop"></i>Solicitudes</a>

                    <ul class="sub-menu">

                        <li class="@ViewBag.vbSELECT2">
                            <a href="@Url.Content("~/Solicitud")"> <i class="icon-angle-right"></i> Solicitudes </a>
                        </li>

                    </ul>

            </li>


            <li class="current open">

                <a href="javascript:void(0);"><i class="icon-desktop"></i> Elementos Enviados </a>

                <ul class="sub-menu">

                    <li class="@ViewBag.vbSELECT2">
                        <a href="@Url.Content("~/DocSimple/RecepcionDSC")"> <i class="icon-angle-right"></i> Documentos Simples </a>
                    </li>

                    <li class="@ViewBag.vbSELECT2">
                        <a href="@Url.Content("~/Expediente/RecepcionSExC")"> <i class="icon-angle-right"></i> Expediente </a>
                    </li>

                </ul>


            </li>



        }

        @if (Session["STipoAcceso"].ToString() == "02")
        {
            <li class="current open">
                <a href="javascript:void(0);"><i class="icon-desktop"></i> Recepcionados </a>

                <ul class="sub-menu">

                 

                    <li class="@ViewBag.vbSELECT2">
                        <a href="@Url.Content("~/DocSimple/RecepcionDS")"> <i class="icon-angle-right"></i> Documentos Simples </a>
                    </li>

                    <li class="@ViewBag.vbSELECT2">
                        <a href="@Url.Content("~/Expediente/RecepcionSEx")"> <i class="icon-angle-right"></i> Expedientes </a>
                    </li>

                </ul>
            </li>
        }

            <li class="current open">
                <a href="#"><i class="icon-user"></i> Mi Cuenta </a>

                <ul class="sub-menu">

                    @*<li class="@ViewBag.vbSELECT3">
                        <a href="@Url.Content("~/CuentaPers/Index")"> <i class="icon-key"></i> Cambiar Contraseña </a>
                    </li>*@

                    <li class="@ViewBag.vbSELECT3">
                        <a href="@Url.Content("~/Login/CerrarSesion")"> <i class="icon-off"></i> Cerrar Sesión </a>
                    </li>


                </ul>

            </li>


        </ul>











    </div>
    <div id="divider" class="resizeable"></div>
</div>