﻿<div class="modal fade" id="ModObservacion" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title">Observaciones</h4>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">

                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">


                                <input type="hidden" id="HIdSolicitudO" name="HIdSolicitudO" class="form-control" autocomplete="off">

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Nro Solicitud:</label>
                                    <div class="col-md-10">
                                        <input name="TxtCorrelaO" id="TxtCorrelaO" class="form-control input-width-medium" type="text"  style="background-color: #ffffff;border: 1px solid #727272;border: 1px solid #727272;color:black;" readonly>
                                    </div>

                                    <label class="col-md-2 control-label">Asunto:</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control rounded-0" id="TxtAsuntoO" name="TxtAsuntoO" style="margin-top: 5px;background-color: #ffffff;border: 1px solid #727272;border: 1px solid #727272;color:black;" readonly></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="widget-header">
                            <h5><i class="icon-reorder"></i> Listado de Observaciones </h5>
                        </div>

                        <div class="widget box">
                            <div class="widget-content">


                                <div class="col-md-12">
                                    <div class="row">
                                        <form id="FrmObservacion" name="FrmObservacion" class="form-horizontal row-border" action="#">

                                            <div id="DivObserva" style="display:none;">
                                                <div class="form-group">

                                                    <label class="col-md-2 control-label">Observación(*) : </label>
                                                    <div class="col-md-8">
                                                        <textarea class="form-control rounded-0" id="TxtDescripO" name="TxtDescripO" maxlength="300"></textarea>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <input type="button" value="Agregar" id="BtnObservacion" class="btn btn-primary pull-right" style="display: block; margin-top: 7px;">
                                                    </div>

                                                </div>
                                            </div>

                                       </form>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="widget box">

                                            <div class="widget-content no-padding">

                                                <table class="table table-bordered table-hover table-checkable datatable" id="TbListObservacion" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>ITEM</th>
                                                            <th>OBSERVACION</th>
                                                            <th>OPC</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>

                                                </table>

                                            </div>
                                        </div>

                                    </div>


                                </div>


                            </div>
                        </div>

                    </div>

                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-inverse" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

@Html.Partial("_RespuestaObs")