﻿<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Dashboard | Melon - Flat &amp; Responsive Admin Template</title>
    <link href="Plantilla01\bootstrap\css\bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/><![endif]-->
    <link href="Plantilla01\assets\css\main.css" rel="stylesheet" type="text/css">
    <link href="Plantilla01\assets\css\plugins.css" rel="stylesheet" type="text/css">
    <link href="Plantilla01\assets\css\responsive.css" rel="stylesheet" type="text/css">
    <link href="Plantilla01\assets\css\icons.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="Plantilla01\assets\css\fontawesome\font-awesome.min.css">
    <!--[if IE 7]><link rel="stylesheet" href="assets/css/fontawesome/font-awesome-ie7.min.css"><![endif]-->
    <!--[if IE 8]><link href="assets/css/ie8.css" rel="stylesheet" type="text/css"/><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>



    <script type="text/javascript" src="Plantilla01\assets\js\libs\jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\jquery-ui\jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="Plantilla01\bootstrap\js\bootstrap.min.js"></script>
    <script type="text/javascript" src="Plantilla01\assets\js\libs\lodash.compat.min.js"></script>
    <!--[if lt IE 9]><script src="assets/js/libs/html5shiv.js"></script><![endif]-->
    <script type="text/javascript" src="Plantilla01\plugins\touchpunch\jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\event.swipe\jquery.event.move.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\event.swipe\jquery.event.swipe.js"></script>
    <script type="text/javascript" src="Plantilla01\assets\js\libs\breakpoints.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\respond\respond.min.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\cookie\jquery.cookie.min.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\slimscroll\jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\slimscroll\jquery.slimscroll.horizontal.min.js"></script>
    <!--[if lt IE 9]><script type="text/javascript" src="plugins/flot/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="Plantilla01\plugins\sparkline\jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\flot\jquery.flot.min.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\flot\jquery.flot.tooltip.min.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\flot\jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\flot\jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\flot\jquery.flot.growraf.min.js"></script>
    @*<script type="text/javascript" src="Plantilla01\plugins\easy-pie-chart\jquery.easy-pie-chart.min.js"></script>*@
    <script type="text/javascript" src="Plantilla01\plugins\daterangepicker\moment.min.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\daterangepicker\daterangepicker.js"></script>
    @*<script type="text/javascript" src="Plantilla01\plugins\blockui\jquery.blockUI.min.js"></script>*@
    @*<script type="text/javascript" src="Plantilla01\plugins\fullcalendar\fullcalendar.min.js"></script>*@
    <script type="text/javascript" src="Plantilla01\plugins\noty\jquery.noty.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\noty\layouts\top.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\noty\themes\default.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\uniform\jquery.uniform.min.js"></script>
    <script type="text/javascript" src="Plantilla01\plugins\select2\select2.min.js"></script>
    <script type="text/javascript" src="Plantilla01\assets\js\app.js"></script>
    <script type="text/javascript" src="Plantilla01\assets\js\plugins.js"></script>
    <script type="text/javascript" src="Plantilla01\assets\js\plugins.form-components.js"></script>
   
    <script type="text/javascript" src="Plantilla01\assets\js\custom.js"></script>
    @*<script type="text/javascript" src="Plantilla01\assets\js\demo\pages_calendar.js"></script>
    <script type="text/javascript" src="Plantilla01\assets\js\demo\charts\chart_filled_blue.js"></script>
    <script type="text/javascript" src="Plantilla01\assets\js\demo\charts\chart_simple.js"></script>*@
</head>

<body>
    <header class="header navbar navbar-fixed-top" role="banner">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="icon-reorder"></i></a></li>
            </ul>
            <a class="navbar-brand" href="index.htm"> <img src="Plantilla01\assets\img\logo.png" alt="logo"> <strong>ME</strong>LON </a>
            <a href="#" class="toggle-sidebar bs-tooltip" data-placement="bottom" data-original-title="Toggle navigation"> <i class="icon-reorder"></i> </a>
            
            <ul class="nav navbar-nav navbar-right">
               
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-male"></i> <span class="username">John Doe</span> <i class="icon-caret-down small"></i> </a>
                    <ul class="dropdown-menu">
                        <li><a href="pages_user_profile.htm"><i class="icon-user"></i> My Profile</a></li>
                        <li><a href="pages_calendar.htm"><i class="icon-calendar"></i> My Calendar</a></li>
                        <li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>
                        <li class="divider"></li>
                        <li><a href="login.htm"><i class="icon-key"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="project-switcher" class="container project-switcher">
            <div id="scrollbar">
                <div class="handle"></div>
            </div>
            <div id="frame">
                <ul class="project-list">
                    <li>
                        <a href="javascript:void(0);"> <span class="image"><i class="icon-desktop"></i></span> <span class="title">Lorem ipsum dolor</span> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <span class="image"><i class="icon-compass"></i></span> <span class="title">Dolor sit invidunt</span> </a>
                    </li>
                    <li class="current">
                        <a href="javascript:void(0);"> <span class="image"><i class="icon-male"></i></span> <span class="title">Consetetur sadipscing elitr</span> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <span class="image"><i class="icon-thumbs-up"></i></span> <span class="title">Sed diam nonumy</span> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <span class="image"><i class="icon-female"></i></span> <span class="title">At vero eos et</span> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <span class="image"><i class="icon-beaker"></i></span> <span class="title">Sed diam voluptua</span> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <span class="image"><i class="icon-desktop"></i></span> <span class="title">Lorem ipsum dolor</span> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <span class="image"><i class="icon-compass"></i></span> <span class="title">Dolor sit invidunt</span> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <span class="image"><i class="icon-male"></i></span> <span class="title">Consetetur sadipscing elitr</span> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <span class="image"><i class="icon-thumbs-up"></i></span> <span class="title">Sed diam nonumy</span> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <span class="image"><i class="icon-female"></i></span> <span class="title">At vero eos et</span> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <span class="image"><i class="icon-beaker"></i></span> <span class="title">Sed diam voluptua</span> </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="container">
        <div id="sidebar" class="sidebar-fixed">
            <div id="sidebar-content">
                <form class="sidebar-search">
                    <div class="input-box">
                        <button type="submit" class="submit"> <i class="icon-search"></i> </button> <span> <input type="text" placeholder="Search..."> </span>
                    </div>
                </form>
                <div class="sidebar-search-results">
                    <i class="icon-remove close"></i>
                    <div class="title"> Documents </div>
                    <ul class="notifications">
                        <li>
                            <a href="javascript:void(0);">
                                <div class="col-left"> <span class="label label-info"><i class="icon-file-text"></i></span> </div>
                                <div class="col-right with-margin"> <span class="message"><strong>John Doe</strong> received $1.527,32</span> <span class="time">finances.xls</span> </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="col-left"> <span class="label label-success"><i class="icon-file-text"></i></span> </div>
                                <div class="col-right with-margin"> <span class="message">My name is <strong>John Doe</strong> ...</span> <span class="time">briefing.docx</span> </div>
                            </a>
                        </li>
                    </ul>
                    <div class="title"> Persons </div>
                    <ul class="notifications">
                        <li>
                            <a href="javascript:void(0);">
                                <div class="col-left"> <span class="label label-danger"><i class="icon-female"></i></span> </div>
                                <div class="col-right with-margin"> <span class="message">Jane <strong>Doe</strong></span> <span class="time">21 years old</span> </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul id="nav">
                    <li class="current">
                        <a href="index.htm"> <i class="icon-dashboard"></i> Dashboard </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <i class="icon-desktop"></i> UI Features <span class="label label-info pull-right">6</span> </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="ui_general.htm"> <i class="icon-angle-right"></i> General </a>
                            </li>
                            <li>
                                <a href="ui_buttons.htm"> <i class="icon-angle-right"></i> Buttons </a>
                            </li>
                            <li>
                                <a href="ui_tabs_accordions.htm"> <i class="icon-angle-right"></i> Tabs &amp; Accordions </a>
                            </li>
                            <li>
                                <a href="ui_sliders.htm"> <i class="icon-angle-right"></i> Sliders </a>
                            </li>
                            <li>
                                <a href="ui_nestable_list.htm"> <i class="icon-angle-right"></i> Nestable List </a>
                            </li>
                            <li>
                                <a href="ui_typography.htm"> <i class="icon-angle-right"></i> Typography / Icons </a>
                            </li>
                            <li>
                                <a href="ui_google_maps.htm"> <i class="icon-angle-right"></i> Google Maps </a>
                            </li>
                            <li>
                                <a href="ui_grid.htm"> <i class="icon-angle-right"></i> Grid </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <i class="icon-edit"></i> Form Elements </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="form_components.htm"> <i class="icon-angle-right"></i> Form Components </a>
                            </li>
                            <li>
                                <a href="form_layouts.htm"> <i class="icon-angle-right"></i> Form Layouts </a>
                            </li>
                            <li>
                                <a href="form_validation.htm"> <i class="icon-angle-right"></i> Form Validation </a>
                            </li>
                            <li>
                                <a href="form_wizard.htm"> <i class="icon-angle-right"></i> Form Wizard </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <i class="icon-table"></i> Tables </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="tables_static.htm"> <i class="icon-angle-right"></i> Static Tables </a>
                            </li>
                            <li>
                                <a href="tables_dynamic.htm"> <i class="icon-angle-right"></i> Dynamic Tables (DataTables) </a>
                            </li>
                            <li>
                                <a href="tables_responsive.htm"> <i class="icon-angle-right"></i> Responsive Tables </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="charts.htm"> <i class="icon-bar-chart"></i> Charts &amp; Statistics </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <i class="icon-folder-open-alt"></i> Pages </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="login.htm"> <i class="icon-angle-right"></i> Login </a>
                            </li>
                            <li>
                                <a href="pages_user_profile.htm"> <i class="icon-angle-right"></i> User Profile </a>
                            </li>
                            <li>
                                <a href="pages_calendar.htm"> <i class="icon-angle-right"></i> Calendar </a>
                            </li>
                            <li>
                                <a href="pages_invoice.htm"> <i class="icon-angle-right"></i> Invoice </a>
                            </li>
                            <li>
                                <a href="404.htm"> <i class="icon-angle-right"></i> 404 Page </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);"> <i class="icon-list-ol"></i> 4 Level Menu </a>
                        <ul class="sub-menu">
                            <li class="open-default">
                                <a href="javascript:void(0);"> <i class="icon-cogs"></i> Item 1 <span class="arrow"></span> </a>
                                <ul class="sub-menu">
                                    <li class="open-default">
                                        <a href="javascript:void(0);"> <i class="icon-user"></i> Sample Link 1 <span class="arrow"></span> </a>
                                        <ul class="sub-menu">
                                            <li class="current"><a href="javascript:void(0);"><i class="icon-remove"></i> Sample Link 1</a></li>
                                            <li><a href="javascript:void(0);"><i class="icon-pencil"></i> Sample Link 1</a></li>
                                            <li><a href="javascript:void(0);"><i class="icon-edit"></i> Sample Link 1</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0);"><i class="icon-user"></i> Sample Link 1</a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-external-link"></i> Sample Link 2</a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-bell"></i> Sample Link 3</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"> <i class="icon-globe"></i> Item 2 <span class="arrow"></span> </a>
                                <ul class="sub-menu">
                                    <li><a href="javascript:void(0);"><i class="icon-user"></i> Sample Link 1</a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-external-link"></i> Sample Link 1</a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-bell"></i> Sample Link 1</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"> <i class="icon-folder-open"></i> Item 3 </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="sidebar-title"> <span>Notifications</span> </div>
                <ul class="notifications demo-slide-in">
                    <li style="display: none;">
                        <div class="col-left"> <span class="label label-danger"><i class="icon-warning-sign"></i></span> </div>
                        <div class="col-right with-margin"> <span class="message">Server <strong>#512</strong> crashed.</span> <span class="time">few seconds ago</span> </div>
                    </li>
                    <li style="display: none;">
                        <div class="col-left"> <span class="label label-info"><i class="icon-envelope"></i></span> </div>
                        <div class="col-right with-margin"> <span class="message"><strong>John</strong> sent you a message</span> <span class="time">few second ago</span> </div>
                    </li>
                    <li>
                        <div class="col-left"> <span class="label label-success"><i class="icon-plus"></i></span> </div>
                        <div class="col-right with-margin"> <span class="message"><strong>Emma</strong>'s account was created</span> <span class="time">4 hours ago</span> </div>
                    </li>
                </ul>
                <div class="sidebar-widget align-center">
                    <div class="btn-group" data-toggle="buttons" id="theme-switcher">
                        <label class="btn active">
                            <input type="radio" name="theme-switcher" data-theme="bright"><i class="icon-sun"></i> Bright
                        </label>
                        <label class="btn">
                            <input type="radio" name="theme-switcher" data-theme="dark"><i class="icon-moon"></i> Dark
                        </label>
                    </div>
                </div>
            </div>
            <div id="divider" class="resizeable"></div>
        </div>
        <div id="content">
            <div class="container">
                <div class="crumbs">
                    <ul id="breadcrumbs" class="breadcrumb">
                        <li> <i class="icon-home"></i> <a href="index.htm">Dashboard</a> </li>
                        <li class="current"> <a href="pages_calendar.htm" title="">Calendar</a> </li>
                    </ul>
                    <ul class="crumb-buttons">
                        <li><a href="charts.htm" title=""><i class="icon-signal"></i><span>Statistics</span></a></li>
                        <li class="dropdown">
                            <a href="#" title="" data-toggle="dropdown"><i class="icon-tasks"></i><span>Users <strong>(+3)</strong></span><i class="icon-angle-down left-padding"></i></a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="form_components.htm" title=""><i class="icon-plus"></i>Add new User</a></li>
                                <li><a href="tables_dynamic.htm" title=""><i class="icon-reorder"></i>Overview</a></li>
                            </ul>
                        </li>
                        <li class="range">
                            <a href="#"> <i class="icon-calendar"></i> <span></span> <i class="icon-angle-down"></i> </a>
                        </li>
                    </ul>
                </div>
                <div class="page-header">
                    <div class="page-title">
                        <h3>Dashboard</h3> <span>Good morning, John!</span>
                    </div>
                    <ul class="page-stats">
                        <li>
                            <div class="summary">
                                <span>New orders</span>
                                <h3>17,561</h3>
                            </div>
                            <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
                        </li>
                        <li>
                            <div class="summary">
                                <span>My balance</span>
                                <h3>$21,561.21</h3>
                            </div>
                            <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
                        </li>
                    </ul>
                </div>
             
               
              
             
            </div>
        </div>
    </div>
 

    @RenderBody()

</body>

</html>