﻿<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>@Session["STituloWeb"].ToString()</title>
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/bootstrap/css/bootstrap.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/plugins.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/responsive.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/fontawesome/font-awesome.min.css")">
    @*<link rel="stylesheet" href="@Url.Content("~/Plantilla01/assets/css/fontawesome/font-awesome.min1.css")">*@
     <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

        <script src="@Url.Content("~/Plantilla01/assets/js/libs/jquery-1.10.2.min.js")"></script>
        <script src="@Url.Content("~/Plantilla01/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js")"></script>
        <script src="@Url.Content("~/Plantilla01/bootstrap/js/bootstrap.min.js")"></script>
    
        <script src="@Url.Content("~/Plantilla01/assets/js/bootstrap-datepicker.min.js")"></script>


        <script>

            var showLoader = function (text) {
                $('#resultLoading').show();
                $('#resultLoading').find('.loader-text').html(text);
            };

            jQuery(document).ready(function () {
                jQuery(window).on("beforeunload ", function () {
                    showLoader('Cargando, espere un momento...');
                });
            });



            function FnAbrirManual()
            {
                var vid = document.getElementById("VideoTutorial");
                vid.play();

                $('#myModalManual').modal('show');
            }

            function FnCerrarManual()
            {
                var vid = document.getElementById("VideoTutorial");
                vid.pause();
            }


        </script>



    </head>

    <body>

        <header class="header navbar navbar-fixed-top" role="banner">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="icon-reorder"></i></a></li>
                </ul>
                <a class="navbar-brand" href="@Url.Content("~/Panel")"> <img src="~/Plantilla01/Images/Logov2.jpg" alt="logo"> @*<strong>ME</strong>LON*@ </a>
            <a href="#" class="toggle-sidebar bs-tooltip" data-placement="bottom" data-original-title="Toggle navigation"> <i class="icon-reorder"></i> </a>
           
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                    <i class="icon-male"></i> 
                        <span class="username">@Session["SRazonSocial"].ToString().Substring(0,Convert.ToInt32(@Session["LRazonSocial"])).Trim()</span> 
                        <i class="icon-caret-down small"></i> 
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-user"></i> Mi Cuenta</a></li>
                        @*<li><a href="pages_calendar.htm"><i class="icon-calendar"></i> My Calendar</a></li>
                        <li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>*@
                        <li class="divider"></li>
                        <li><a href="@Url.Content("~/Login/CerrarSesion")"><i class="icon-key"></i> Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
       
    </header>


<div id="container">
        @Html.Partial("_MenuP01")
  
        @RenderBody()


    </div>


        <div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
            <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
                <div class="uil-default-css">
                    <img src="~/Imagenes/loading.gif" style="max-width: 60px; max-height: 60px; display: block; margin-left: auto; margin-right: auto;" />
                </div>
                <div class="loader-text" style="display: block; font-size: 15px; font-weight: 300;">&nbsp;</div>
            </div>
            <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
        </div>



               <script src="@Url.Content("~/Plantilla01/assets/js/libs/lodash.compat.min.js")"></script>
                <script src="@Url.Content("~/Plantilla01/plugins/touchpunch/jquery.ui.touch-punch.min.js")"></script>
               <script src="@Url.Content("~/Plantilla01/plugins/event.swipe/jquery.event.move.js")"></script>
              <script src="@Url.Content("~/Plantilla01/plugins/event.swipe/jquery.event.swipe.js")"></script>
              <script src="@Url.Content("~/Plantilla01/assets/js/libs/breakpoints.js")"></script>
              <script src="@Url.Content("~/Plantilla01/plugins/respond/respond.min.js")"></script>
              <script src="@Url.Content("~/Plantilla01/plugins/cookie/jquery.cookie.min.js")"></script>
              <script src="@Url.Content("~/Plantilla01/plugins/slimscroll/jquery.slimscroll.min.js")"></script>
              <script src="@Url.Content("~/Plantilla01/plugins/slimscroll/jquery.slimscroll.horizontal.min.js")"></script>
              <script src="@Url.Content("~/Plantilla01/plugins/sparkline/jquery.sparkline.min.js")"></script>
              <script src="@Url.Content("~/Plantilla01/plugins/flot/jquery.flot.min.js")"></script>
              <script src="@Url.Content("~/Plantilla01/plugins/flot/jquery.flot.tooltip.min.js")"></script>
              <script src="@Url.Content("~/Plantilla01/plugins/flot/jquery.flot.resize.min.js")"></script>
              <script src="@Url.Content("~/Plantilla01/plugins/flot/jquery.flot.time.min.js")"></script>
              <script src="@Url.Content("~/Plantilla01/plugins/flot/jquery.flot.growraf.min.js")"></script>
                @*< script type = "text/javascript" src = "plugins\easy-pie-chart\jquery.easy-pie-chart.min.js" ></ script >*@
    <script src="@Url.Content("~/Plantilla01/plugins/daterangepicker/moment.min.js")"></script>
    <script src="@Url.Content("~/Plantilla01/plugins/daterangepicker/daterangepicker.js")"></script>
    @*< script type = "text/javascript" src = "plugins\blockui\jquery.blockUI.min.js" ></ script >
        < script type = "text/javascript" src = "plugins\fullcalendar\fullcalendar.min.js" ></ script >*@
    <script src="@Url.Content("~/Plantilla01/plugins/noty/jquery.noty.js")"></script>
    <script src="@Url.Content("~/Plantilla01/plugins/noty/layouts/top.js")"></script>
   <script src="@Url.Content("~/Plantilla01/plugins/noty/themes/default.js")"></script>
    <script src="@Url.Content("~/Plantilla01/plugins/uniform/jquery.uniform.min.js")"></script>
   <script src="@Url.Content("~/Plantilla01/plugins/select2/select2.min.js")"></script>




    @*<script src="@Url.Content("~/Plantilla01/plugins/datatables/jquery.dataTables.min.js")"></script>*@
    <script src="@Url.Content("~/Plantilla01/plugins/DataTablev2/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Plantilla01/plugins/datatables/DT_bootstrap.js")"></script>
    <script src="@Url.Content("~/Plantilla01/plugins/datatables/responsive/datatables.responsive.js")"></script>


    <script src="@Url.Content("~/Plantilla01/plugins/datatables/tabletools/TableTools.min.js")"></script>
    <script src="@Url.Content("~/Plantilla01/plugins/datatables/colvis/ColVis.min.js")"></script>
    <script src="@Url.Content("~/Plantilla01/plugins/datatables/columnfilter/jquery.dataTables.columnFilter.js")"></script>
    <script src="@Url.Content("~/Plantilla01/plugins/datatables/DT_bootstrap.js")"></script>

    <script src="@Url.Content("~/Plantilla01/plugins/bootstrap-switch/bootstrap-switch.min.js")"></script>

   <script src="@Url.Content("~/Plantilla01/assets/js/app.js")"></script>
  <script src="@Url.Content("~/Plantilla01/assets/js/plugins.js")"></script>
 <script src="@Url.Content("~/Plantilla01/assets/js/plugins.form-components.js")"></script>
    <script>
            $(document).ready(function () {
        App.init();
        Plugins.init();
        FormComponents.init()
            });
        </script>
<script src="@Url.Content("~/Plantilla01/assets/js/custom.js")"></script>
    @*<script type="text/javascript" src="assets\js\demo\pages_calendar.js"></script>
        <script type="text/javascript" src="assets\js\demo\charts\chart_filled_blue.js"></script>
        <script type="text/javascript" src="assets\js\demo\charts\chart_simple.js"></script>*@




</body>

</html>
