﻿<div class="widget-content">
    <div class="panel panel-default">

        <div class="panel-heading title">
            <span class="glyphicon glyphicon-user styleicon"></span>
            <j2>Datos del Solicitante</j2>
        </div>

        <div class="panel-body">

            <div class="form-group row">
                <label for="stacticObs" class="col-sm-2 col-form-label">Doc. Identidad:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="TxtDocIde" name="TxtDocIde" value="@ViewData["VTipDocIde"] - @ViewData["VNroDocIde"]" style="background-color: #ffffff;border: 1px solid #727272;border: 1px solid #727272;color:black;" readonly />
                </div>
            </div>

            <div class="form-group row">
                <label for="stacticObs" class="col-sm-2 col-form-label">@ViewData["VEtiNombre"]:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="TxtRazonSocial" name="TxtRazonSocial" value="@ViewData["VDatos"]" style="background-color: #ffffff;border: 1px solid #727272;border: 1px solid #727272;color:black;" readonly />
                </div>
            </div>


        </div>


    </div>
</div>
