﻿<div class="modal fade" id="ModVerSolicitud" data-backdrop="static" data-keyboard="false">

<div class="modal-dialog" style="width:60%;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title">Datos de la Solicitud</h4>
        </div>

        <div class="modal-body">



            <div class="statbox widget box box-shadow">
                <div class="widget-content">

                    <input type="hidden" id="HIdSolicitud" name="HIdSolicitud" class="form-control" autocomplete="off">

                    <div class="form-group">
                        <label class="col-md-2 control-label">Nro Solicitud:</label>
                        <div class="col-md-4">
                            <input name="TxtNroSolicitud" id="TxtNroSolicitud" class="form-control input-width-medium" type="text" style="background-color: #ffffff;border: 1px solid #727272;border: 1px solid #727272;color:black;" readonly>
                        </div>

                        <label class="col-md-2 control-label">Fecha de Envio:</label>
                        <div class="col-md-4">
                            <input class="form-control input-width-medium" id="TxtFecEnvio" name="TxtFecEnvio" style="background-color: #ffffff;border: 1px solid #727272;border: 1px solid #727272;color:black;" readonly>
                        </div>
                    </div>

                </div>
            </div>





            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Datos Principales</a></li>
                    <li><a href="#tab_1_2" data-toggle="tab">Archivos Adjuntos (<span id="SArcAdj"></span>)</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">

 
                     

                            <div class="col-md-12">


                                <div class="widget-header">
                                    <h5><i class="icon-reorder"></i> Solicitante </h5>
                                </div>

                                <div class="statbox widget box box-shadow">
                                    <div class="widget-content">


                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Doc. Identidad:</label>
                                            <div class="col-md-10">
                                                <input name="TxtDocIdentidad" id="TxtDocIdentidad" class="form-control input-width-medium" type="text" style="background-color: #ffffff;border: 1px solid #727272;border: 1px solid #727272;color:black;" readonly>
                                            </div>

                                            <label class="col-md-2 control-label">Administrado:</label>
                                            <div class="col-md-10">
                                                <input class="form-control input-width-xxlarge" id="TxtAdministrado" name="TxtAdministrado" style="margin-top: 5px;background-color: #ffffff;border: 1px solid #727272;border: 1px solid #727272;color:black;" readonly>
                                            </div>
                
                                        </div>
                                         <div class="form-group">

                                             <label class="col-md-2 control-label">Correo:</label>
                                             <div class="col-md-10">
                                                 <input class="form-control input-width-xxlarge" id="TxtCorreo" name="TxtCorreo" style="margin-top: 5px;background-color: #ffffff;border: 1px solid #727272;border: 1px solid #727272;color:black;" readonly>
                                             </div>

                                         </div>
                                    </div>
                                </div>

                                <div class="widget-header">
                                    <h5><i class="icon-reorder"></i> Documento </h5>
                                </div>

                                <div class="statbox widget box box-shadow">
                                    <div class="widget-content">


                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Asunto:</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control rounded-0" rows="3" id="TxtAsunto" name="TxtAsunto" style="margin-top: 5px;background-color: #ffffff;border: 1px solid #727272;border: 1px solid #727272;color:black;" readonly></textarea>
                                            </div>

                                            <label class="col-md-2 control-label">Observación:</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control rounded-0" rows="3" id="TxtObservacion" name="TxtObservacion" style="margin-top: 5px;background-color: #ffffff;border: 1px solid #727272;border: 1px solid #727272;color:black;" readonly></textarea>
                                            </div>

                                            <label class="col-md-2 control-label">Folios:</label>
                                            <div class="col-md-10">
                                                <input class="form-control input-width-mini"  id="TxtFolios" name="TxtFolios" style="margin-top: 5px;background-color: #ffffff;border: 1px solid #727272;border: 1px solid #727272;color:black;" readonly>
                                            </div>


                                        </div>

                                    </div>
                                </div>


                            </div>

                      


                    </div>
                    <div class="tab-pane" id="tab_1_2">
                        
                        <div class="widget-header">
                            <h5><i class="icon-reorder"></i>Listado de Archivos </h5>
                        </div>

                        <div class="widget box">
                            <div class="widget-content">

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="widget box">

                                            <div class="widget-content no-padding">

                                                <table class="table table-bordered table-hover table-checkable datatable" id="TbArcAdjunto" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>ITEM</th>
                                                            <th>DESCRIPCION ARCHIVO</th>
                                                            <th>ARCHIVO</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>

                                                </table>

                                            </div>
                                        </div>

                                    </div>


                                </div>


                            </div>
                        </div>


                    </div>
                   
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <div id="DivBtnAceptar" style="display:none;">
                <button type="button" class="btn btn-primary" id="BtnAceptar" name="BtnAceptar">Aceptar</button>
            </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>

    </div>
</div>
</div>

