﻿
@{
    ViewBag.Title = "RespuestaMastercard";
    Layout = "~/Views/Shared/_Plantilla01.cshtml";
}
@using PagoWeb.Web.Models;



<div id="content">

    <div class="container">

        @Html.Partial("_MenuP02")





        <div class="row">
            <div class="col-md-12">
                <div class="widget invoice">
                    <div class="widget-header">
                        <div class="pull-left">
                            <h2>@ViewBag.vEntidad</h2>
                        </div>
                        <div class="pull-right">
                            <p class="invoice-nr"><strong>Nro Pedido:</strong> # @ViewBag.NroPedido</p>
                            <p class="invoice-date">@ViewBag.FecProceso</p>
                        </div>
                    </div>
                    <div class="widget-content">

                        <div class="@ViewBag.EstiloMensaje">@ViewBag.EstadoPedido</div>

                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>PEDIDO</th>
                                    <th> </th>
                                    <th>CONTRIBUYENTE</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Nro Tarjeta:</th>
                                    <td>@ViewBag.NroTarjeta</td>
                                    <th>Cod. Contri:</th>
                                    <td>@ViewBag.CodContri</td>

                                </tr>
                                <tr>
                                    <th>Fecha y hora:</th>
                                    <td>@ViewBag.FecHoraProceso</td>
                                    <th>Razon Social:</th>
                                    <td>@ViewBag.RazonSocial</td>
                                </tr>
                                <tr>
                                    <th>Importe:</th>
                                    <td>@ViewBag.Importe</td>
                                    <th>Nro Doc.</th>
                                    <td>@ViewBag.NroDoc</td>
                                </tr>
                                <tr>
                                    <th>Moneda:</th>
                                    <td>@ViewBag.Moneda</td>
                                    <th>Dir. Fiscal;</th>
                                    <td>@ViewBag.DirFiscal</td>
                                </tr>
                                <tr>
                                    <th>tarjetahabiente:</th>
                                    <td>@ViewBag.TarjetaHabiente</td>
                                    <th>Telefono:</th>
                                    <td>@ViewBag.Telefono</td>
                                </tr>
                            </tbody>
                        </table>





                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget box">
                                    <div class="widget-header">
                                        <h4><i class="icon-reorder"></i> Detalle del Pago</h4>

                                    </div>
                                    <div class="widget-content no-padding">
                                        <table class="table table-hover table-striped table-bordered table-highlight-head">
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th>CODBANCO</th>
                                                    <th>DESCDEUDA</th>
                                                    <th>ANIO-PERIODO</th>
                                                    <th>INSOLUTO</th>
                                                    <th>GASTOEMI</th>
                                                    <th>AJUSTE</th>
                                                    <th>MORA</th>
                                                    <th>DSCTO</th>
                                                    <th>SUBTOTAL</th>
                                                    <th>ESTADO</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @{
                                                    Int32 vItems = 0;
                                                    foreach (var itemCC in ViewBag.VbRESULTADORECIBO)
                                                    {
                                                        vItems = vItems + 1;
                                                        <tr>
                                                            <td> @vItems</td>
                                                            <td>@itemCC["vCODBANCO"]</td>
                                                            <td>@itemCC["vDESCDEUDA"]</td>
                                                            <td>@itemCC["vANIOPERIODO"]-@itemCC["vPERIODO"]</td>
                                                            <td>S/ @itemCC["vINSOLUTO"].ToString("0.00")</td>
                                                            <td>S/ @itemCC["vGASTOEMI"].ToString("0.00")</td>
                                                            <td>S/ @itemCC["vAJUSTE"].ToString("0.00")</td>
                                                            <td>S/ @itemCC["vMORA"].ToString("0.00")</td>
                                                            <td>S/ @itemCC["vDSCTO"].ToString("0.00")</td>
                                                            <td>S/ @itemCC["vSUBTOTAL"].ToString("0.00")</td>
                                                            <td>
                                                                @if (@itemCC["vIDDESCARGO"] == "")
                                                                {
                                                                    <span class="label label-warning">Pendiente</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="label label-success">Cancelado</span>
                                                                }

                                                            </td>
                                                        </tr>
                                                    }
                                                }



                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="row padding-top-10px">
                            <div class="col-md-6">
                                <div class="well">
                                    <p>
                                        <strong>Nota: </strong>La cuenta corriente se ha descargado segun el estado del recibo, el estado "Cancelado" ya fue procesado, si el estado figura "Pendiente" esta en proceso de validación.
                                        Evite realizar pagos dobles este proceso puede tener un tiempo estimado de 24 horas de actualización.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 align-right">
                                <ul class="list-unstyled amount padding-bottom-5px">
                                    <li class="total"><strong>Total:</strong> S/ @ViewBag.Importe</li>
                                </ul>
                                <div class="buttons">
                                    <a class="btn btn-default btn-lg" href="javascript:void(0);" onclick="javascript:window.print();"><i class="icon-print"></i> Imprimir Resultado</a>
                                    @{
                                        if (ViewBag.EstiloMensaje == "alert alert-info")
                                        {
                                            <a class="btn btn-success btn-lg" href="@Url.Content("~/Pago/RptReciboPago/"+@ViewBag.NroPedido)" target="_blank"><i class="icos-acces-denied-sign"></i> Imprimir Recibo</a>
                                        }
                                    }
                                    <a class="btn btn-default btn-lg" href="@Url.Content("~/CtaCorriente")"><i class="icos-next-track"></i> Cta Cte</a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>








    </div>

</div>

