﻿
@{
    ViewBag.Title = "Documento Simple";
    Layout = "~/Views/Shared/_Plantilla01.cshtml";
}


<div id="content">
    <div class="container">

        @Html.Partial("_MenuP02")

       
       <div class="row" id="Div01" style="display:none;">

                        <div class="col-md-12">
                            <div class="widget box">

                                <div class="widget-header">
                                    <h4>
                                        <i class="icon-file-text-alt"></i>
                                        Registrar Documento Simple
                                    </h4>
                                </div>

                                <div class="widget-content">
                                    <form name="formulario" id="formulario">

                                        <input type="hidden" id="HCodRegi" name="HCodRegi" class="form-control" autocomplete="off" value="@ViewData["VIdRegi"]">

                                      @Html.Partial("_Remitente")


                                        <div class="widget-content">
                                            <div class="panel panel-default">

                                                <div class="panel-heading title">
                                                    <span class="glyphicon glyphicon-file styleicon"></span>
                                                    <j2>Datos del Documento</j2>
                                                </div>

                                                <div class="panel-body">
                                                    <div class="form-group row">
                                                        <label for="staticAsunto" class="col-sm-2 col-form-label">Asunto(*) :</label>
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control rounded-0" id="txtSolicitud" name="txtSolicitud" placeholder="Ingrese aquí el asunto del documento simple (Mínimo 20 y máximo 250 caracteres)." maxlength="250"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="stacticObs" class="col-sm-2 col-form-label">Observación:</label>
                                                        <div class="col-sm-10"> 
                                                            <textarea class="form-control rounded-0" id="txtObs" name="txtObs" placeholder="Ingrese aquí la Observación del documento simple." maxlength="250" rows="2"></textarea>
                                                            @*<input type="text" class="form-control" id="" name="" placeholder="Ingrese aquí sus observaciones (No es obligatorio)." />*@
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="stacticObs" class="col-sm-2 col-form-label">Nro Folios(*) :</label>
                                                        <div class="col-sm-2">
                                                            <input type="text" class="form-control" id="txtFolio" name="txtFolio" OnKeyPress="return solonumeros(event)"  />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="form-actions">

                                            <button type="button" class="btn btn-inverse pull-right" id="BtnRegresar" name="BtnRegresar" onclick="location.href='@Url.Action("Index", "Solicitud")'">
                                                <i class="icon-file-text-alt"></i> Regresar
                                            </button>


                                            <button type="button" class="btn btn-primary pull-right" id="BtnEnviar" name="BtnEnviar" onclick="FnConfirmaGuardar()">
                                                <i class="icon-file-text-alt"></i> Guardar Datos
                                            </button>

                                        </div>

                                    </form>
                                </div>
                           
                             </div>
                        </div>

              

            </div>

   
       <div class="row" id="Div02" style="display:none;">
            <div class="col-md-10">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> Registro de Expediente </h4>
                    </div>
                    <div class="widget-content">



                        <div class="row">

                            <div class="col-md-4">
                            </div>


                            <div class="col-md-6">
                                <div class="widget box">
                                    <div class="widget-header">
                                        <h4><i class="icon-reorder"></i> Resultado</h4>
                                    </div>
                                    <div class="widget-content align-center">
                                        <div class="alert alert-info fade in">
                                          Se ha registrado Correctamente el Documento Simple
                                        </div>
                                    </div>

                                        <center> <h2> <small  id="H2NroSolicitud"></small></h2></center>
                                        <dl class="dl-horizontal">
                                            <dt>Imprimir Solicitud: </dt>
                                            <dd>Adjunte los archivos requeridos e imprime su constancia de la solicitud enviada.</dd>
                                        </dl>

                                    <div class="widget-content align-center">
                                        <button type="button" class="btn btn-default" id="BtnRegresar2" name="BtnRegresar2" onclick="location.href='@Url.Action("Index", "Solicitud")'">Regresar</button>
                                    </div>

                                </div>
                            </div>


                            <div class="col-md-4">
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="~/Scripts/ScDocSimple.js"></script>
<script src="~/Scripts/ScPublico.js"></script>



