﻿  <!--Modal de Busqueda de Procedimiento Tupa  -->
<div id="myModal" role="dialog" class="modal fade">
    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="cerrar()">
                    &times;
                </button>
                <h4 class="modal-title">
                    Buscar Tupa
                </h4>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">

                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">

                                <div class="alert alert-success">
                                    <strong>Buscar: </strong>Puede seleccionar el área, ingresar el concepto o codigo de Tupa para generar un filtro por cualquiera de estas opciones.
                                </div>

                                <div class="form-group row">
                                    <label for="staticNroproc" class="col-sm-3 col-form-label">Oficina :</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownList("ddlOfic", ViewData["VDOfic"] as SelectList, new { @class = "form-control" })

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="staticNroproc" class="col-sm-3 col-form-label">Concepto :</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtProcedimiento" name="txtProcedimiento" placeholder="" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="staticNroproc" class="col-sm-3 col-form-label">Código Tupa :</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="txtNroproc" name="txtNroproc" placeholder="" />
                                    </div>
                                    <div class="col-sm-3">

                                        <button type="button" class="btn btn-success" id="BtnBuscarP" name="BtnBuscarP">
                                            <span class="glyphicon glyphicon-search"></span>
                                            Buscar
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        @*<div class="alert alert-warning">
                            <strong>Nota:</strong>
                            Para seleccionar un registro puede hacer Doble Click sobre el registro en la grilla ó seleccionarlo y hacer Click en el boton <b>Agregar</b>
                        </div>*@

                        <div class="widget box">
                            <div class="widget-header">
                                <h4><i class="icon-table"></i>Adjuntar Requisitos del Tupa</h4>

                            </div>
                            <div class="widget-content no-padding">
                                <table id="MGridP" class="table table-bordered table-hover table-checkable table-responsive datatable" >
                                   
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nro Proc.</th>
                                            <th>Oficina</th>
                                            <th>Concepto</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>

                     

                    </div>



                            <div class="form-group text-center">

                            </div>

                        </div>
                    </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-success" data-dismiss="modal" id="BtnRequisito" name="BtnRequisito" onclick="ListadoRequisitos();">
                    <i class="icon-ok-sign"></i>&nbsp; Agregar
                </button>

                <button type="button" class="btn btn-inverse" data-dismiss="modal" id="BtnCerrar" name="BtnCerrar" onclick="cerrar()">
                    <i class="icon-remove"></i>&nbsp; Salir
                </button>

            </div>
        </div>
    </div>
</div>
