﻿
@{
    ViewBag.Title = "Expediente";
    Layout = "~/Views/Shared/_Plantilla01.cshtml";
}


<div id="content">
    <div class="container">

        @Html.Partial("_MenuP02")

        <div class="row" id="Div01" style="display:none;">

            <div class="col-md-12">
                <div class="widget box">

                    <div class="widget-header">
                        <h4>
                            <i class="icon-file-text-alt"></i>
                            Registrar Expediente (Tupa)
                        </h4>
                    </div>

                    <div class="widget-content">

                        <form name="formulario" id="formulario">


                            <div class="widget-content">

                                @*<div class="alert alert-success">
                                    <i class="fa fa-check-circle"></i>
                                    <strong>Nota:</strong> Las cartas fianza y cualquier otro  título valor que sean  presentados por la Ventanilla Virtual, deberán ser entregadas en original en la Plataforma de Atención al Ciudadano del MINEM en un plazo no mayor a 2 días hábiles, indicando el número de expediente con el que se registró en la Ventanilla Virtual.
                                </div>*@

                                <input type="hidden" id="HCodRegi" name="HCodRegi" class="form-control" autocomplete="off" value="@ViewData["VIdRegi"]">

                                @Html.Partial("_Remitente")

                             </div>



                            <div class="widget-content">
                                <div class="panel panel-default">

                                    <div class="panel-heading title">
                                        <span class="glyphicon glyphicon-file styleicon"></span>
                                        <j2>Datos del Documento</j2>
                                    </div>

                                    <div class="panel-body">

                                        <div class="form-group row">
                                            <label for="staticAsunto" class="col-sm-2 col-form-label">Asunto(*) :</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control rounded-0" id="txtSolicitud" name="txtSolicitud" cols="10" data-val="true" placeholder="Ingrese aquí la descripción del asunto del Expediente (Mínimo 20 y máximo 250 caracteres)." rows="2" maxlength="250"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="stacticObs" class="col-sm-2 col-form-label">Observación:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="txtObs" name="txtObs" placeholder="Ingrese aquí sus observaciones (No es obligatorio)." maxlength="250" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="stacticObs" class="col-sm-2 col-form-label">Nro Folios(*) :</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" id="txtFolio" name="txtFolio" OnKeyPress="return solonumeros(event)" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                            <div class="widget-content">
                                <div class="panel panel-default">

                                    <div class="panel-heading title">
                                        <span class="glyphicon glyphicon-book styleicon"></span>
                                        <j2>Datos Procedimiento Tupa</j2>
                                    </div>

                                    <div class="panel-body">
                                        <div class="form-group row">
                                            <label for="staticAsunto" class="col-sm-2 col-form-label">Tupa :</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control rounded-0" id="txtTupa" name="" txtTupa" cols="10" rows="2" readonly>@ViewData["iProced"]</textarea>
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-success pull-right" id="BTNBUSCART" name="BTNBUSCART" data-toggle="modal" data-target="#myModal"> <i class="icon-search"></i> Buscar Tupa</button>

                                            </div>
                                        </div>
                                        <div class="row" id="DivRequisito" style="display:none;">
                                            <div class="col-md-12">
                                                <div class="widget box">
                                                    <div class="widget-header">
                                                        <h4><i class="icon-table"></i>Listado de Requisitos Tupa</h4>

                                                    </div>
                                                    <div class="widget-content no-padding">
                                                        <table id="MGridR" class="table table-bordered table-hover table-checkable table-responsive datatable" width="100%">
                                                            @*class="table table-striped table-bordered" cellspacing="0"*@
                                                            <thead>
                                                                <tr>
                                                                    @*<th>Item</th>*@
                                                                    <th>Descripción del Procedimiento</th>
                                                                </tr>
                                                            </thead>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>




                                </div>
                            </div>


                            <div class="form-actions">

                                <input type="hidden" id="HCodTupa" name="HCodTupa" class="form-control" autocomplete="off">

                                <button type="button" class="btn btn-inverse pull-right" id="BtnRegresar" name="BtnRegresar" onclick="location.href='@Url.Action("Index", "Solicitud")'">
                                    <i class="icon-file-text-alt"></i> Regresar
                                </button>


                                <button type="button" class="btn btn-primary pull-right" id="BtnEnviar" name="BtnEnviar" onclick="FnConfirmaGuardar()">
                                    <i class="icon-file-text-alt"></i> Guardar Datos
                                </button>



                            </div>

                        </form>

                    </div>

              </div>
            </div>


        </div>

                <div class="row" id="Div02" style="display:none;">
                    <div class="col-md-10">
                        <div class="widget box">
                            <div class="widget-header">
                                <h4><i class="icon-reorder"></i> Registro de Expediente </h4>
                            </div>
                            <div class="widget-content">



                                <div class="row">

                                    <div class="col-md-4">
                                    </div>


                                    <div class="col-md-6">
                                        <div class="widget box">
                                            <div class="widget-header">
                                                <h4><i class="icon-reorder"></i> Resultado</h4>
                                            </div>
                                            <div class="widget-content align-center">
                                                <div class="alert alert-info fade in">

                                                    Se ha registrado Correctamente el Expediente
                                                </div>
                                              
                                                <center> <h2> <small id="H2NroSolicitud"></small></h2></center>
                                                <dl class="dl-horizontal">
                                                    <dt>Imprimir Solicitud: </dt>
                                                    <dd>Adjunte los archivos requeridos e imprime su constancia de la solicitud enviada.</dd>
                                                </dl>


                                                <button type="button" class="btn btn-default" id="BtnRegresar2" name="BtnRegresar2" onclick="location.href='@Url.Action("Index", "Solicitud")'">Regresar</button>

                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

@Html.Partial("_SeleccionTupa")

<script src="~/Scripts/ScExpediente.js"></script>
<script src="~/Scripts/ScPublico.js"></script>


