﻿
@{
    ViewBag.Title = "RecepcionSEx";
    Layout = "~/Views/Shared/_Plantilla01.cshtml";
}


<div id="content">

    <div class="container">

        @Html.Partial("_MenuP02")

        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-content align-center">

                        <label class="control-label">Filtrar por Tipo de Busquedad </label>


                        <div class="alert alert-warning">

                            <label class="radio-inline">
                                <input type="radio" name="OptionRadio" value="Opt1" onclick="RadioSelect(this);"> Nro de Solicitud
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="OptionRadio" value="Opt2" onclick="RadioSelect(this);"> Administrado
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="OptionRadio" value="Opt3" onclick="RadioSelect(this);"> Fecha de envio
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="OptionRadio" value="Opt4" onclick="RadioSelect(this);" checked=""> Visualizar Todos
                            </label>

                        </div>


                        <table align="center">
                            <tr>
                                <td>
                                    <label class="col-md-12 control-label" id="LbSeleccionado">Default datepicker:</label>
                                </td>

                                <td>
                                    <input type="text" name="TxtBuscar" id="TxtBuscar" class="form-control input-width-large align-center">
                                </td>
                                <td>
                                    <input type="button" value="Buscar" class="btn btn-primary" id="BtnBuscar" name="BtnBuscar">
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> </h4>

                    </div>
                    <div class="widget-content no-padding">

                        <table class="table table-striped table-bordered table-hover table-responsive datatable" id="DtSExpediente">

                            <thead>
                                <tr>
                                    <th data-class="expand">SOLICITUD</th>
                                    <th data-class="expand">FECHA ENVIO</th>
                                    <th data-class="expand">ADMINISTRADO</th>
                                    <th data-class="expand">ASUNTO</th>
                                    <th data-class="expand">FOLIOS</th>
                                    <th data-class="expand">ESTADO</th>
                                    <th data-class="expand">OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


@*@Html.Partial("_Adjuntar")*@

@Html.Partial("_VerSolicitud")

@Html.Partial("_Observacion")

@Html.Partial("_GenerarSid")

@Html.Partial("_GenerarPago")
@Html.Partial("_GenerarDatosPersona")

<script src="~/Scripts/ScRecepcionSEx.js"></script>