﻿
@{
    ViewBag.Title = "Solicitud";
    Layout = "~/Views/Shared/_Plantilla01.cshtml";
}

<div id="content">
 
    <div class="container">

        @Html.Partial("_MenuP02")


        @*<div class="widget-content">
            <div class="alert alert-info fade in">  <strong>Atención! </strong> El horario de recepción de Solicitudes es de 08:30 hasta las 4:30pm, de Lunes a Viernes. </div>
        </div>*@



        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-content align-left">

                        <form name="FrmSolicitud" id="FrmSolicitud" method="post">

                            <input type="hidden" id="HCodRegi" name="HCodRegi" class="form-control" autocomplete="off" value="@ViewData["iIdRegi"]">
                         

                                        <div class="widget-content">
                                            <div class="row">

                                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Expediente")'">
                                                    <i class="icon-paste" data-toggle="tooltip" data-placement="top" title="Expediente"></i>
                                                     Nuevo Expediente
                                                </button>

                                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "DocSimple")'">
                                                    <i class="icon-copy" data-toggle="tooltip" data-placement="top" title="Documento Simple"></i>
                                                     Nuevo Documento Simple
                                                </button>


                                            </div>

                                        </div>
                           
                        </form>

                    </div>
                 </div>
             </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> Listado de Solicitudes Enviados </h4>

                    </div>
                    <div class="widget-content no-padding">

                        <table class="table table-striped table-bordered table-hover table-responsive datatable" id="DtSolicitudes" >

                            <thead>
                                <tr>
                                    <th data-class="expand">TIPO</th>
                                    <th data-class="expand">SOLICITUD</th>
                                    <th data-class="expand">FECHA</th>
                                    <th data-class="expand">ASUNTO</th>
                                    <th data-class="expand">PROCEDIMIENTO</th>
                                    <th data-class="expand">FOLIOS</th>
                                    <th data-class="expand">ESTADO</th>
                                    <th data-class="expand">OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                      
                    </div>
                </div>
            </div>
        </div>

       

    </div>

        </div>

@Html.Partial("_Adjuntar")
@Html.Partial("_AdjuntarPago")  
<script src="~/Scripts/ScSolicitud.js"></script>

