﻿<div class="modal fade" id="ModPago" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title">Generar Pago</h4>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">

                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">

                                <input type="hidden" id="HIdSolicitud" name="HIdSolicitud" class="form-control" autocomplete="off">
                                <input type="hidden" id="HIdPersona" name="HIdPersona" class="form-control" autocomplete="off">
                                <input type="hidden" id="HIdDireccion" name="HIdDireccion" class="form-control" autocomplete="off">
                                <input type="hidden" id="HIdTipdoc" name="HIdTipdoc" class="form-control" autocomplete="off">
                                <input type="hidden" id="HFolio" name="HFolio" class="form-control" autocomplete="off">
                                <input type="hidden" id="HIdTupa" name="HIdTupa" class="form-control" autocomplete="off">
                                <input type="hidden" id="HIdOficina" name="HIdOficina" class="form-control" autocomplete="off">
                                <input type="hidden" id="HAdministrado" name="HAdministrado" class="form-control" autocomplete="off">
                                <input type="hidden" id="HId" name="HId" class="form-control" autocomplete="off">
                                <input type="hidden" id="HFIJO" name="HFIJO" class="form-control" autocomplete="off">
                                <input type="hidden" id="HCORREO" name="HCORREO" class="form-control" autocomplete="off">
                                <input type="hidden" id="HCELULAR" name="HCELULAR" class="form-control" autocomplete="off">
                                <input type="hidden" id="HNRODOCIDE" name="HNRODOCIDE" class="form-control" autocomplete="off">
                                <input type="hidden" id="HOBSSOLI" name="HOBSSOLI" class="form-control" autocomplete="off">

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Nro Solicitud:</label>
                                    <div class="col-md-10">
                                        <input name="TxtCorrela" id="TxtCorrela" class="form-control input-width-medium" type="text" readonly>
                                    </div>
                                    <label class="col-md-2 control-label">Procedimiento:</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control rounded-0" id="TxtProcedimiento" name="TxtProcedimiento" style="display: block; margin-top: 5px;" readonly></textarea>
                                    </div>
                                    <label class="col-md-2 control-label">Asunto:</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control rounded-0" id="TxtAsunto" name="TxtAsunto" style="display: block; margin-top: 5px;" readonly></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">


                                <form id="FrmGenerar" name="FrmGenerar" class="form-horizontal row-border" action="#">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Fecha:</label>
                                        <div class="col-md-10">
                                            <input name="TxtFecha" id="TxtFecha" class="form-control input-width-medium" type="text" readonly value="@ViewBag.vbFECHA">
                                        </div>

                                        <label class="col-md-2 control-label">Observación:</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control rounded-0" id="TxtObservacion" name="TxtObservacion" style="display: block; margin-top: 5px;"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="button" value="Generar" id="BtnGenerarExp" class="btn btn-primary pull-right" style="display: block; margin-top: 7px;" data-dismiss="modal">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*<label class="col-md-2 control-label">Estado:</label>
                                            <div class="col-md-8">
                                                <select name="ddlTipoDoc" id="ddlTipoDoc" class="form-control selectpicker input-sm" data-width="100%" title="Tipo de Documento Identidad">
                                                    <option value="-1">Seleccione Estado</option>
                                                    <option value="01" selected="selected">CONFORME</option>
                                                    <option value="02">OBSERVADO</option>
                                                </select>
                                            </div>*@


                                    </div>
                                </form>

                            </div>
                        </div>






                    </div>

                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-inverse" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
