﻿
@{
    ViewBag.Titulo = "Panel Principal";
    Layout = "~/Views/Shared/_Plantilla01.cshtml";
}

        <div id="content">
            <div class="container">

                @Html.Partial("_MenuP02")


                <div class="page-header">
                    <div class="page-title">
                        <span>Bienvenido</span>
                        <h4>@Session["SRazonSocial"]</h4> 
                    </div>
                    <ul class="page-stats">
                        <li>
                            <div class="summary">
                                <span>Inicio de Sesión</span>
                                <h4>@Session["SIp"]</h4>
                            </div>
                           
                        </li>
                    
                    </ul>
                </div>
                <div class="row row-bg">
                    <div class="col-sm-6 col-md-3">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">

                                <div class="visual cyan"> <i class="icon-edit"></i> </div>
                                <div class="title">SOLICITUDES PRESENTADOS</div>
                                <div class="value">0</div> <a class="more" href="javascript:void(0);">Visualizar Resumen <i class="pull-right icon-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">
                               
                                    <div class="visual green"> <i class="icon-file-text-alt"></i> </div>
                                    <div class="title">EXPEDIENTE</div>
                                    <div class="value">0</div> <a class="more" href="javascript:void(0);">Visualizar Resumen <i class="pull-right icon-angle-right"></i></a>
                             
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 hidden-xs">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">

                                <div class="visual yellow"> <i class="icon-file-text-alt"></i> </div>
                                <div class="title">CARTA SIMPLE</div>
                                <div class="value">0</div> <a class="more" href="javascript:void(0);">Visualizar Resumen <i class="pull-right icon-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 hidden-xs">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-content">

                                <div class="visual red"> <i class="icon-file-text-alt"></i> </div>
                                <div class="title">SOLICITUDES ANULADOS</div>
                                <div class="value">0</div> <a class="more" href="javascript:void(0);">Visualizar Resumen <i class="pull-right icon-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                </div>




           


            </div>
        </div>



